<p>
  <strong>Name:</strong>
  <%= @courier.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @courier.email %>
</p>

<h2>Packages</h2>
<%= render @courier.packages %>
 
<h2>Add a package:</h2>
<%= render 'packages/form' %>

<%= link_to 'Edit', edit_courier_path(@courier) %> |
<%= link_to 'Back', couriers_path %>